@use '../../styles/base/mixins.scss' as *;
@use '../../styles/base/theme.scss' as *;

.tabbar {
  display: flex;
  align-items: center;
  // border-radius: 20px;
  // margin-bottom: 5px;
  // margin-inline: 8px;
  height: 65px;
  overflow: hidden;
  padding: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

  @include bottom-bar;
}

.tab {
  height: 100%;
  // border-radius: 20px;
  color: var(--black) !important;
  background-color: transparent !important;
  padding: 0 !important;

  & > div {
    padding: 0 !important;
  }

  & svg {
    width: 16px;
    height: 16px;
    color: var(--black) !important;
  }

  & > span {
    font-size: 10px;
    font-weight: 700;
    color: var(--black) !important;
  }
}

.selected {
  background-color: var(--gray-50) !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

  & > div {
    padding: 0 !important;
    background-color: transparent !important;

    & > svg {
      color: $primary !important;
    }
  }

  & > span {
    color: $primary !important;
  }
}
